:root {
    --inner-shadow: inset 3px 3px 3px #999797, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #999797, inset 0 0 0 #f8f8f8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/*************HEADER PART****************/
.header-area {
    width: 100%;
    height: 58px;
}
.header-area .menu {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 9999;
    height: 58px;
    background-color: #ffffff;
}
.header-area .menu .logoSection {
    display: flex;
    height: 58px;
    position: relative;
}
.header-area .menu .logoSection .logo img {
    height: 58px;
    padding-left: 48px;
}

.header-area .menu .section-items {
    display: flex;
    width: 90%;
    margin-left: 20%;
}
.header-area .menu .section-items ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0%;
    padding: 0px 150px 0px 150px;
    list-style: none;
    width: 100%;
    height: 58px;
    position: relative;
}
.header-area .menu .section-items ul li {
    line-height: 40px;
    list-style: none outside none;
    padding: 5px 30px 5px 5px;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

.header-area .menu .section-items ul li a {
    text-decoration: none;
    color: #0c0d13;
}

.header-area .menu .section-items .checkbtn {
    display: none;
}
.header-area .menu .checkbtn i {
    height: 48px;
}
#check {
    display: none;
}

/*************HOME PART****************/
.home {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.home .description {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 500px;
}

.home .description .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 60px;
    height: 250px;
    color: #ffffff;
    align-self: center;
    margin-top: 5%;
}

.home .description .text p {
    text-align: center;
}

.home .description .icons {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 125px;
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}
.home .description .icons i {
    margin-right: 30px;
    margin-top: 50px;
}

.home .photo {
    width: 50%;
    height: 500px;
    margin: 0px auto;
    text-align: center;
    z-index: 1;
}

.home .photo img {
    position: inherit;
    margin-top: 70px;
    width: 360px;
    height: 360px;
    vertical-align: middle;
    border-radius: 50%;
}
.areas {
    width: 100%;
    height: 400px;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 560px;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/*************ABOUT ME PART****************/
.aboutMe {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #ffffff;
}

.aboutMe .title {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    color: #0c0d13;
    font-size: 60px;
    margin-top: 40px;
}
.aboutMe .content {
    display: flex;
    flex-direction: row;
    height: auto;
    color: #0c0d13;
}
.aboutMe .content .description {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: auto;
    font-size: 27px;
    text-align: center;
    align-self: center;
    margin-top: 30px;
    padding-left: 50px;
}

.aboutMe .content .languages {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: left;
    height: auto;
    width: 50%;
}
.aboutMe .content .languages .text {
    text-align: center;
    justify-content: center;
    height: auto;
    font-size: 27px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.aboutMe .skills {
    padding: 0 0 40px;
    width: 70%;
    margin-left: 18%;
}
.aboutMe .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
}
.aboutMe .skills .skill-item p {
    font-size: 16px;
    color: #0c0d13;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.aboutMe .skills .skill-item i {
    color: #0c0d13;
    padding: 0 20px;
    font-size: 30px;
}

.aboutMe .skills .skill-item .progress {
    height: 20px;
    border-radius: 10px;
    position: relative;
}
.aboutMe .skills .skill-item .progress-bar {
    background-color: #0c0d13;
    height: 6px;
    left: 7px;
    top: 7px;
    position: absolute;
    border-radius: 10px;
}
.aboutMe .skills .skill-item .progress-bar span {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    color: #0c0d13;
    margin-top: -40px;
}
.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow:hover:after {
    box-shadow: var(--inner-shadow);
}

/*************PROJECTS PART****************/

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: white;
}

.projects .title {
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    color: #0c0d13;
    font-size: 60px;
    margin-top: 40px;
}

.projects .cards {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10%;
}

.projects .cards .card {
    position: relative;
    width: 380px;
    height: 300px;
    margin: 15px;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 30px;
    padding: 5px;
    transition: 0.5s;
}
.projects .cards .card span {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.95;
    background: #1d1919;
    z-index: 1;
    transition: width 0.5s, height 0.5s;
}
.projects .cards .card:hover span {
    width: 1000px;
    height: 1000px;
}
.projects .cards .card .img {
    display: block;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.projects .cards .card .img img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.projects .cards .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.projects .cards .card .content div {
    padding: 40px;
    color: #ffffff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2%;
    margin-top: 12%;
}
.projects .cards .card:hover .content div {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    transition: 0.2%;
}
.projects .cards .card .content .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: auto;
    height: auto;
    justify-content: center;
    margin-top: 0px;
}
.projects .cards .card .content p {
    display: block;
    text-align: left;
    height: auto;
    margin-top: 5%;
}

.projects .cards .card .content .button {
    display: flex;
    justify-content: space-around;
}
.projects .cards .card .content .btn {
    display: block;
    text-align: center;
    border: 1px solid #355881;
    border-radius: 50px;
    margin-top: 12%;
    height: auto;
}
.projects .cards .card .content .btn button {
    display: block;
    text-align: center;
    background-color: #ffffff;
}

.projects .cards .card .content .btn a {
    display: block;
    background-color: #ffffff;
    border: 2px solid #355881;
    border-radius: 50px;
    color: #000000;
    outline: none;
    font-size: 18px;
    padding: 5px 8px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.projects .cards .card .content .btn button:hover {
    display: block;
    transform: scale(0.9);
}

/*************CONTACT PART****************/
.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}
.contact .title {
    grid-column: 2/6;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    font-size: 60px;
    margin-top: 40px;
}

.contact .contact-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 100%;
    height: auto;
}
.contact .contact-area .personal-contact {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(10px, auto);
    margin-top: 101px;
    height: 103px;
    width: 100%;
    text-align: center;
}
.contact .contact-area .personal-contact .option {
    grid-column: 1/7;
    text-align: center;
}

.contact .contact-area .personal-contact .option p {
    font-size: 17px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    width: auto;
    height: auto;
    color: #fff;
}
.contact .contact-area .personal-contact .option p i {
    width: auto;
    height: auto;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
}
.contact .contact-area .message {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: minmax(10px, auto);
    margin-top: 30px;
    height: auto;
    width: 100%;
    text-align: center;
}

.contact .contact-area .message form {
    grid-column: 1/6;
    width: 80%;
    height: auto;
    margin-bottom: 38px;
    text-align: center;
    align-self: center;
}
.contact .contact-area .message form input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
    height: 30px;
}

.contact .contact-area .message .send {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    margin-bottom: 5px;
    height: 30px;
    background-color: #355881;
}
.contact .contact-area .message .reset {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 5px;
    margin-bottom: 5px;
    height: 30px;
    background-color: #a8b2bd;
}
.contact .contact-area .message form textarea {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

/*************FOOTER PART****************/
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    color: white;
    bottom: 0;
    text-align: center;
}

.footer .icons {
    display: flex;
    align-self: center;
}
.favicon {
    padding: 10px;
    font-size: 28px;
    color: #ffffff;
}
.favicon:hover {
    color: #355881;
}
.footer .p {
    width: 100%;
}

.footer .p p {
    font-size: 18px;
}

/*************RESPONSIVE HEADER PART****************/
@media screen and (max-width: 872px) {
    .header-area .menu {
        float: right;
    }
    .header-area .menu .logoSection {
        display: none;
    }
    .header-area .menu .section-items {
        display: block;
        position: fixed;
        width: 100%;
        margin-left: 90%;
    }
    .header-area .menu .section-items .checkbtn {
        display: flex;
        margin-top: 10px;
        line-height: 80px;
        color: black;
        font-size: 30px;
    }

    .header-area .menu .section-items ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 38px;
        width: 100%;
        height: 100vh;
        background-color: white;
        opacity: 0.8;
        left: -130%;
        text-align: center;
        transition: 0.6s all;
    }
    .header-area .menu .section-items ul li {
        display: flex;
        margin: 40px 0;
        line-height: 30px;
    }
    .header-area .menu .section-items ul li a {
        color: #0c0d13;
        font-size: 30px;
    }
    .header-area .menu .section-items ul li a:hover {
        color: #0c0d13;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .home {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 500px;
        background-color: #0c0d13;
    }

    .home .photo {
        width: 100%;
        height: 250px;
        text-align: center;
    }

    .home .photo img {
        position: inherit;
        margin-top: 21px;
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }

    .home .description {
        display: flex;
        width: 100%;
        height: 250px;
    }

    .home .description .text {
        justify-content: flex-start;
        position: relative;
        height: auto;
        font-size: 40px;
        text-align: center;
    }
    .home .description .icons {
        width: 100%;
        height: 125px;
        font-size: 40px;
    }
    .home .description .icons i {
        margin-right: 30px;
    }

    .aboutMe .title {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        text-align: center;
        justify-content: center;
        font-size: 40px;
        margin-top: 40px;
    }
    .aboutMe .content {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .aboutMe .content .description {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: auto;
        font-size: 15px;
        text-align: center;
        align-self: center;
        margin-top: 30px;
        padding-left: 0px;
    }
    .aboutMe .content .languages {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        text-align: left;
        height: auto;
        width: 100%;
    }
    .aboutMe .content .languages .text {
        text-align: center;
        justify-content: center;
        height: auto;
        font-size: 20px;
        margin-top: 30px;
    }

    .aboutMe .skills .skill-item {
        margin-bottom: 10px;
    }
    .aboutMe .skills .skill-item p {
        font-size: 16px;
    }
    .aboutMe .skills .skill-item i {
        color: #ffffff;
        padding: 0 20px;
        font-size: 30px;
    }
    /********PROYECT PART********/
    .projects .title {
        grid-column: 2/6;
        width: 100%;
        height: 50px;
        text-align: center;
        justify-content: center;
        color: #000000;
        font-size: 40px;
        margin-top: 40px;
    }

    .projects .cards .card {
        margin-top: 30px;

        margin: 10px 30px;
        padding: 5px;
        box-shadow: 2px 2px 4px rbga(0, 0, 0, 0, 5);
        transition: 0.5s;
    }
    .projects .cards .card .content {
        display: block;
        padding: 10px 20px;
        width: 100%;
        height: auto;
    }

    .projects .cards .card .content .title {
        display: block;

        font-size: 20px;
        font-weight: 600;
        text-align: center;
        width: auto;
        height: auto;
        justify-content: center;
        margin-top: 40px;
    }

    .projects .cards .card .content p {
        display: block;
        text-align: left;
    }

    .projects .cards .card .content .button {
        margin-top: 1%;
        padding: 0;
    }

    .projects .cards .card .content .btn {
        display: block;
        text-align: center;
        border: 1px solid #355881;
        border-radius: 50px;
        margin-top: 1%;
    }
    .projects .cards .card .content .btn button {
        display: block;
        text-align: center;
        background-color: #ffffff;
    }
    .projects .cards .card .content .btn a {
        display: block;
        outline: none;
        font-size: 18px;
        padding: 5px 8px;
        cursor: pointer;
        transition: 0.2s;
        text-decoration: none;
    }

    .projects .cards .card .content .btn button:hover {
        display: block;
        transform: scale(0.9);
    }

    /********CONTACT PART********/
    .contact .title {
        grid-column: 2/6;
        width: 100%;
        height: 50px;
        text-align: center;
        justify-content: center;
        color: #ffffff;
        font-size: 40px;
        margin-top: 40px;
    }
    .contact .contact-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: auto;
    }
    .contact .contact-area .personal-contact {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: minmax(10px, auto);
        margin-top: 30px;
        height: auto;
        width: 100%;
        text-align: center;
    }
    .contact .contact-area .personal-contact .option {
        grid-column: 1/7;
        text-align: center;
    }

    .contact .contact-area .personal-contact .option p {
        font-size: 17px;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        width: auto;
        height: auto;
    }
    .contact .contact-area .personal-contact .option p i {
        width: auto;
        height: auto;
        font-size: 24px;
        text-align: center;
        justify-content: center;
        margin-right: 10px;
    }
    .contact .contact-area .message {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: minmax(10px, auto);
        margin-top: 30px;
        height: auto;
        width: 100%;
        text-align: center;
    }

    .contact .contact-area .message form {
        grid-column: 2/6;
        width: 100%;
        height: auto;
    }
    .contact .contact-area .message form input {
        grid-column: 2/6;
        width: 100%;
        border: none;
        border-radius: 10px;
        padding-left: 5px;
    }
    .contact .contact-area .message form textarea {
        grid-column: 2/6;
        width: 100%;
        border: none;
        border-radius: 10px;
    }
    .contact .contact-area .message form button {
        grid-column: 2/6;
        width: 100%;
        height: auto;
        border: none;
        border-radius: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
    }
    .contact .contact-area .message .send {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding-left: 5px;
        margin-bottom: 5px;
        height: 30px;
        background-color: #355881;
    }
    .contact .contact-area .message .reset {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding-left: 5px;
        margin-bottom: 5px;
        height: 30px;
        background-color: #a8b2bd;
    }
}

@media screen and (max-width: 994px) {
    .header-area .menu .section-items ul li {
        padding: 4px;
        font-size: 14px;
    }
    .header-area .menu .section-items ul li a {
        padding: 4px;
    }
}
